
    <h1>Uptime Monitoring</h1>
    <h2>Made Simple</h2>

    <div class="blurb">We offer simple uptime monitoring for HTTP/HTTPS sites. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus officia quaerat magnam, voluptatem molestias, possimus odio reiciendis delectus minus vel nulla nobis molestiae alias reprehenderit quo sint cumque ratione at quibusdam aut exercitationem! Natus amet, necessitatibus ducimus vero deserunt assumenda itaque inventore? Atque voluptatem doloremque assumenda nemo temporibus neque blanditiis architecto harum cupiditate repellat quidem, alias veritatis debitis id quaerat ipsa omnis vitae obcaecati necessitatibus. Earum similique deleniti dolore aliquid rerum iusto atque perspiciatis? Nam assumenda esse quibusdam dolor impedit sed nobis necessitatibus quo repudiandae nemo cupiditate, consectetur inventore quae nulla tempora. Aperiam sapiente enim alias molestiae facilis consequuntur.</div>

    <div class="ctaWrapper">
        <a href="account/create" class="cta green">Get Started</a>
        <a href="session/create" class="cta blue">Login</a>
    </div>
        
                    